<div id="<%= dom_id contribution %>">
  <p>
    <strong>User:</strong>
    <%= contribution.user %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= contribution.amount %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= contribution.reason %>
  </p>

</div>
